.center
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
}

.center input
{
    width: 250px;
}

body 
        {
            font-family: Arial, sans-serif;
        }

        header 
        {
            text-align: center;
        }

        .center-box 
        {
            width: 300px;
            margin: 100px auto;
            text-align: center;
        }

        .center-box input 
        {
            width: 100%;
            padding: 8px;
        }